  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-eRestaurantWebsite-4063e35c-90fd-4f23-87a5-b2baabd670c7;AttachDbFilename=|DataDirectory|\aspnet-eRestaurantWebsite-4063e35c-90fd-4f23-87a5-b2baabd670c7.mdf;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="EatIn"
         connectionString = "DataSource=.; Initial Catalog=eRestaurant; Intergrated Security = SSPI"
         providerName ="System.Data.SqlClient"/> 
 </connectionStrings>